/*ja gjordet kommand för att det fixar hemsidans background färg*/
body{
    background-color:rgb(0, 0, 0)
}

h1{
    color:rgb(255, 145, 0);
    font-family:arial;
    font-size: 25px;
    text-align: center;
}

.inledning{
    color:rgb(250, 135, 4);
    Font-family: 'times new roman', times, serif;
    font-size:15px;
    text-align: center
}

.vxochains{
    width:190px
}

.Teknikum{
    width: 30%
}

.instagram{
    width: 20%;
}

a{
    color:rgb(255, 115, 0)
}

nav{
    background-color: rgb(240, 132, 0);
    grid-area: nav;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 15px;
    margin: 15px;
    padding: 15px;
}

nav li{
    list-style-type: circle;
    text-align: left;
    display: grid;
    align-items: stretch;
}

footer {
    background-color:#fd9001;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
     }

    footer ul {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 15px;
        margin: 15px;
        padding: 15px;
    }

    footer ul li {
        margin: 5px 10px;
        color: #000000;
    }
    table {
        border-collapse: collapse;
        border: 2px solid #333;
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        background-image: url('background-image.jpg');
        background-size: cover;
    }
    
    th, td {
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #999;
        color: #fd9001;
    } 
.omoss{
    color: #fd9001;
}

.Kont{
    color: #fd9001;
}

.vad{
    color: #fd9001;
}

.mest{
    color: #fd9001;
}

li{
    color: #fd9001;
}
