body{
    background-color:rgb(255, 255, 255)
}
h1{
    color:aquamarine;
    font-family:arial;
    font-size: 25px
}
.inledning{
    color:aqua;
    Font-family: 'times new roman', times, serif;
    font-size:15px
}
img{
    width:25%
}
a{
    color:red
}

